DEBUG=True
SECRET_KEY=django-insecure-dev-key-change-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,backend

DB_ENGINE=django.db.backends.postgresql
DB_NAME=goplanify_db
DB_USER=goplanify_user
DB_PASSWORD=goplanify_password
DB_HOST=postgres
DB_PORT=5432

REDIS_URL=redis://redis:6379/0

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
